<% include ./partials/header %> 

<h3>User with email: <em><%= userEmail%></em> is already exists</h3>
<h3>Please choose another email and follow registration page: <span><a href="/register">Register Page</a></span></h3>

<% include ./partials/footer %> 